.cart-item {
  padding: var(--spacing-200) 0;
  border-bottom: 1px solid var(--rose-100);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-item:first-of-type {
  padding-top: 0;
}

.cart-item:last-of-type {
  padding-bottom: var(--spacing-300);
}

.item-details {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-100);
  font-size: 14px;
}

.item-details .item-name {
  color: var(--rose-900);
  font-weight: 600;
}

.item-details > div {
  display: flex;
  gap: var(--spacing-100);
}

.item-details .item-quantity {
  color: var(--red);
  font-weight: 600;
  margin-right: var(--spacing-100);
}

.item-details .item-price {
  color: var(--rose-500);
}

.item-details .item-total {
  color: var(--rose-500);
  font-weight: 600;
}

.remove-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  width: 17.5px;
  height: 17.5px;
  border: 1.6px solid var(--rose-400);
  border-radius: 50%;
  cursor: pointer;
  transition: border-color 0.2s ease;
}

.remove-btn:hover {
  border-color: var(--rose-900);
}

.remove-btn svg {
  width: 8.75px;
  height: 8.75px;
  fill: var(--rose-400);
  transition: fill 0.2s ease;
}

.remove-btn:hover svg {
  fill: var(--rose-900);
}