#root {
  min-height: 100vh;
  padding: var(--spacing-300);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Main Section */
main {
  width: 100%;
  max-width: 1216px;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-400);
}

/* Tablet Responsive Styles */
@media screen and (min-width: 768px) {
  #root {
    padding: var(--spacing-500);
  }
}

/* Desktop Responsive Styles */
@media screen and (min-width: 1440px) {
  #root {
    padding: var(--spacing-1100) var(--spacing-500);
  }

  main {
    flex-direction: row;
    align-items: flex-start;
  }
}