:root {
  --red: #C73B0F;

  --rose-900: #260F08;
  --rose-500: #87635A;
  --rose-400: #AD8A85;
  --rose-300: #CAAFA7;
  --rose-100: #F5EEEC;
  --rose-50: #FCF8F6;

  --green: #1EA575;

  --black: #000000;
  --white: #FFFFFF;

  --spacing-50: 4px;
  --spacing-100: 8px;
  --spacing-150: 12px;
  --spacing-200: 16px;
  --spacing-300: 24px;
  --spacing-400: 32px;
  --spacing-500: 40px;
  --spacing-1100: 88px;

  font-family: "Red Hat Text", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 130%;
  font-weight: 400;

  background-color: var(--rose-50);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}